@signal: #FBC02D;
@field: #51E876;

autocomplete-suggestion-list {
    .icon.signal {
        color: @signal;
        background: fadeout(@signal, 80%)
    }

    .icon.field {
        color: @field;
        background: fadeout(@field, 80%);
    }
}
